<div class="gc-element-background-view gc-flex gc-flex-justify-content-center">
    <div class="gc-element-background-view-inner">
        <div>akt. Wettbewerb: {{ Wettbewerb }}</div>
    </div>
</div>
