services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Bundle laden
    PBDKN\FussballBundle\:
        resource: ../../*
        exclude: ../../{DependencyInjection,Resources,Model,Entity}

    # DependencyAggregate als Service
    PBDKN\FussballBundle\Controller\ContentElement\DependencyAggregate: ~

    # Dein CE-Controller
    PBDKN\FussballBundle\Controller\ContentElement\FE\FeUebersichtController:
        public: true
        tags:
            - { name: contao.content_element, category: "fussball-FE", type: "AnzeigeUebersicht" }
        arguments:
            $dependencyAggregate: '@PBDKN\FussballBundle\Controller\ContentElement\DependencyAggregate'
